article{
    width: 500px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 10px 10px 10px rgb(221, 221, 221);
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.cardStyle{
    height: 350px;
    width: 220px;
    border-radius: 10%;
    margin-top: 30px;
    background-color: white;
}

.nameApi{
    position: absolute;
    margin-top: 70px;
    text-decoration: solid;
}

.imgApi{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: 120px;
}

.cityApi{
    position: absolute;
    margin-top: 260px;
    font-size: small;
}