body{
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    max-width: 800px;
    background-color: rgb(223, 190, 164);
    }
    
#parentArticle{
    &.gridView{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: rgb(223, 190, 164);
    }

    &.listView{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 45px;
        background-color: rgb(223, 190, 164);
    }
    
}

.switchToggle{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-left: 720px;
    margin-top: -20px;
}
